@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #0e73f6;

    --border: #e5e9eb;

    --text: #1a2024;
    --text-muted: #6e8bb7;

    --danger: #f76659;

    --bg-muted: #eef0f2;

    --radius: 8px;
  }
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background-color: #0e73f600; 
}

::-webkit-scrollbar-thumb {
  display: block;
  background-color: var(--text-muted);
  border-radius: 20px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background;
    color: var(--text);
  }
  html {
    font-family: "Inter", sans-serif;
    scroll-padding: 200000px!important;
  }
}
